html,
body {
  height: 100%;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

/*选择按钮样式start*/
#menu {
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom: 50px;
  text-align: center;
  font-size: 32px;
}

button {
  border: none;
  background-color: transparent;
  color: rgba(127, 255, 255, 0.75);
  padding: 12px 24px;
  cursor: pointer;
  outline: 1px solid rgba(127, 255, 255, 0.75);
}

button:hover {
  background-color: rgba(127, 255, 255, 0.5);
}

button:active {
  background-color: rgba(127, 255, 255, 0.75);
}
/*end*/
canvas {
  position: absolute;
}
/*
 * 元素样式start
 * 如果想变宽，js 里面对应的代码也需要变宽
 */
.element {
  width: 140px;
  height: 180px;
  cursor: default;
  text-align: center;
  border: 1px solid rgba(127, 255, 255, 0.25);
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.5);
}

.element:hover {
  border: 1px solid rgba(127, 255, 255, 0.75);
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.75);
}

.element .wkno {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}

.element .username {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0;
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element .emailprefix {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}
/*end*/

.highlight {
  animation: highlightAnimation 1s ease;
}

@keyframes highlightAnimation {
  0% { background-color: rgba(127, 255, 255, 0.1); }
  25% { background-color: rgba(127, 255, 255, 0.25); }
  50% { background-color: rgba(127, 255, 255, 0.35); }
  75% { background-color: rgba(127, 255, 255, 0.45); }
  100% { background-color: rgba(127, 255, 255, 0.5); }
}
